body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  display: flex;
  overflow: hidden;
  background-color: #f2f2f2;
}

.topnav a {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

#nav-logo {
  width: 25%;
  display: flex;
  justify-content: right;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav .responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.nav-list {
  list-style-type: none;
  margin: 0;
  margin-left: auto;
  padding: 0;
  overflow: hidden;
  background-color: #f2f2f2;
}

.nav-list li {
  float: left;
}

.nav-list li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.card-group {
  display: flex;
}

.card img {
  width: 100%;
}

.card-body {
  padding: 3% 4% 3% 3%;
  position: absolute;
  top: 85%;
  margin-left: 12%;
  width: 25%;
  background-color: #ffffff;
}

#top-left-card {
  background-color: #ffffff;
}

#top-left-card p a {
  text-decoration: none;
  color: #000000;
}

#top-right-card {
  background-color: #000000;
  color: #ffffff;
}

#top-right-card p a {
  text-decoration: none;
  color: #ffffff;
}

#content {
  margin-top: 40vh;
  padding-top: 40vh;
}

#intro {
  display: flex;
  margin-top: 40vh;
  width: 100%;
  justify-content: space-between;
}

#intro-right img {
  width: 100%;
  float: right;
  margin-right: 5rem;
}

#intro-top {
  margin-top: 4rem;
  color: #ffffff;
  background-color: #000;
  width: 50%;
  height: 20vh;
  padding: 5rem 4rem 3rem 6rem;
  font-size: 24px;
}

#intro-bottom {
  margin-top: 1rem;
  color: #000;
  background-color: #ffffff;
  width: 50%;
  height: 20vh;
  padding: 5rem 4rem 3rem 6rem;
  font-size: 18px;
}

#milieu {
  height: 55rem;
  width: 35rem;
  background-color: #f5f5f5;
}

#milieu article {
  position: relative;
  top: 15rem;
  left: 15rem;
  width: 70vw;
}

#milieu article .card-text {
  font-size: 42px;
}

#tissus {
  display: flex;
}

#tissus article {
  padding: 5rem 2rem 5rem 5rem;
}

#tissus article p {
  line-height: 2rem;
  text-align: justify;
  text-justify: inter-word;
}

#tissus-left {
  float: left;
}

#tissus-left img {
  width: 50rem;
}

#milieu article p a, #tissus article p a {
  text-decoration: none;
  color: #000000;
}

.footer {
  border-top: 1px solid #919191c7;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.footer img {
  padding: 1.5rem;
  border-radius: 70px;
  border: 1px solid #000000;
}
/*# sourceMappingURL=style.css.map */